@import "tailwindcss";

@font-face {
    font-family: "Manrope";
    src: url(./assets/Manrope/Manrope-VariableFont_wght.ttf) format(truetype);
    font-weight: 100 900;
    font-style: normal;
}

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

@theme {
    --color-c-Grayish-blue: var(--Grayish-Blue);
    --color-c-Light-Grayish-Blue: var(--Light-Grayish-Blue);
    --color-c-Desaturated-Dark-Blue: var(--Desaturated-Dark-Blue);
    --color-c-Very-Dark-Grayish-Blue: var(--Very-Dark-Grayish-Blue);
}

body {
    font-family: "Manrope", sans-serif;
}

.hanging__menu::before {
    border-top: 20px solid var(--Very-Dark-Grayish-Blue);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
}
